<%- include("templates/header") %> 
  Hello, <%= username %>!

  <div class="row mb-3 text-center" bis_skin_checked="1">
    <div class="col-sm-4 themed-grid-col" bis_skin_checked="1"><img class="img-fluid" src='../cat-wave.gif'></div>
    <div class="col-sm-4 themed-grid-col" bis_skin_checked="1"><img class="img-fluid" src='../hug.gif'></div>
    <div class="col-sm-4 themed-grid-col" bis_skin_checked="1"><img class="img-fluid" src='../happy-happy-happy-happy.gif'></div>
  </div>

  <br><br><a href='/logout'>Log out</a>
<%- include("templates/footer") %> 